*{
    margin:0;
    padding:0;
}
.window{
    height:100%;
    width:100%;
    background-image:url(cookingbackground.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.head{
    position:relative;
    margin: 8% auto 0 auto;
    padding:0 10px;
    width:700px;
    height:65px;
    font-size:36px;
    background-color:#F7F8E0;
    text-align:center;
    border-radius:30px;
    line-height:65px;
    font-family:'Aleo',sans-serif;
}

.progress-container{
    display:flex;
    margin:58px auto 0;
    width:35rem;
    justify-content:space-between;
    position:relative;
}
.progress-container::before{
    content:"";
    z-index:1;
    width:100%;
    height:4px;
    position:absolute;
    background-color:#e0e0e0;
    top:50%;
    transform: translateY(-50%);
    left:0;
}
.progress-bar{
    z-index:1;
    width:0%;
    height:4px;
    position:absolute;
    background-color:#9e2efa;
    top:50%;
    transform: translateY(-50%);
    left:0;
    transition:1s ease;
}
.circle{
   background-color:#F7F8E0;
    color:black;
    border-radius:50%;
    height:40px;
    width:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    border: 2px solid #e0e0e0;
    transition:.4s ease;
    z-index:2;
    font-size:20px;
    font-family:'Aleo',sans-serif;
}
.circle.active{
    border-color:#9e2efa;
}
.event-box{
    position:relative;
    margin:1% auto auto 16%;
    width:850px;
    height:300px;
    font-family:'Aleo',sans-serif;
    font-size:23px;
    background-color:#FACC2E;
    border-radius:50px;
    overflow:hidden;

}
.confirm-form{
    position:absolute;
    transition:1.5s;
    width:800px;
    height:300px;
    top:0;
    margin:25px 25px 0 25px;

}
#another-chance{
    left:0;
}
#pause-sub{
    left:900px;
}

.event-text{
    position:relative;
    line-height:180%;
    
}
hr{
    border-color:black;
}
#another-chance hr{
    margin:20px 0;
}
#pause-sub hr{
    margin:60px 0;
}
.event-title{
    font-size:32px;
    font-weight:bold;
}
.highlight{
    font-size:25px;
    color:#9e2efa;
    font-weight: bold;
}
.btn{
    height:40px;
    bottom:30px;
    position:absolute;
    font-family:inherit;
    margin:10px;
    font-size:16px;
    border-radius:15px;
    border:0;
    cursor:pointer;
    outline:none;
}
#continue-btn{
    right:230px;
    width:180px;
    background-color:hsl(46, 54%, 42%);
    color:white;

}
#keepsub-btn{
    right:20px;
    width:190px;
    background-color:#bb61eb;
    color:white; 
}
#pausesub-btn{
    bottom:30px;
    right:20px;
    width:190px;
    background-color:#bb61eb;
    color:white;
}
#continuecancel-btn{
    right:230px;
    width:190px;
    background-color:hsl(46, 54%, 42%);
    color:white;
}
.input-field{
    right:80px;
    height:26px;
    position:absolute;
}
.select{
    right:0px;
    border:none;
    outline:none;
    width:200px;
    height:100%;
    font:inherit;
}
.subsubtext{
    font-size:small;
}

#notice-pause{
    position:absolute;
    width:280px;
    left:20px;
    bottom:55px;
}
#survey{
    left:900px;
} 
.form-box input[type = "radio"]{
    margin-top: -1px;
    margin-right:10px;
    vertical-align:middle;
    position:relative;
}

#survey hr{
    margin:10px 0;
}
#other_text{
    margin:5px 0 0 20px;
    outline:none;
    border:none;
    line-height:25px;
    padding-left:10px;
} 
.link{
    position:absolute;
    display:block;
    bottom:35px;
    right:230px;
    margin:10px;
    font-size:16px;
}
#continuecancel-btn2{
    width:190px;
    background-color:hsla(46, 54%, 42%, 0.548);
    color:white;
    right:20px;
    
}

